<!DOCTYPE html>
<html>
<head>
    <title>termsite</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="title" content="termsite">
    <meta name="description" content="termsite webserver docs">
    <meta property="og:type" content="website">
    <meta property="og:title" content="termsite">
    <meta property="og:description" content="termsite webserver docs">
</head>

    <body>
    <p><a href="/">Back</a></p>
    <p>endpoints:</p>
    <p>/api/ua</p>
    <p>/api/langdetect</p>
    <p>/api/st</p>
    <p>/api/randommessage</p>
    </body>
</html>