<!DOCTYPE html>
<html>
<head>
    <title>termsite</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="title" content="termsite">
    <meta name="description" content="termsite webserver">
    <meta property="og:type" content="website">
    <meta property="og:title" content="termsite">
    <meta property="og:description" content="termsite webserver">
</head>

    <body>
    <h1>server works</h1>
    <p>Welcome to server</p>
    <p>you are done :) just send the adress and let clients connect to server</p>
    <p><a href="docs">DOCS</a></p>
    </body>
</html>