extends layout
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='heyyo.')


block content
  h1= 'server works'
  p Welcome to server
  p you are done :) just send the adress and let clients connect to server
  p endpoints:
  p /api/ua
  p /api/langdetect
  p /api/st


