<!DOCTYPE html>
<html>
<head>
    <title>termsite</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="title" content="termsite">
    <meta name="description" content="termsite webserver">
    <meta property="og:type" content="website">
    <meta property="og:title" content="termsite">
    <meta property="og:description" content="termsite webserver">,
    <meta name="discord:vendor" content="N/A"/>
    <meta name="theme-color" content="d9c4c4"> 
</head>

    <body>
    <h1>server works</h1>
    <p>Welcome to serverinfo</p>
    <p>vendor: N/A</p>
    <p><a href="/">Back</a></p>
    </body>
</html>