extends layout

block content
  h1= 'server works'
  p Welcome to server
  p you are done :) just send the adress and let clients connect to server
  p endpoints:
  p /api/ua
  p /api/langdetect
  p /api/st


meta(meta property="og:type" content="website")
meta(property="og:url" content='https://takipsizad.blogspot.com')
meta(  meta property="og:title" content="Termsite server")
meta(property="og:description" content="Termsite server \n source code:https://github.com/takipsizad/termsite")
